/* ###################################################################
* Section common with Gnome Shell
* ... contains a few cinnamon specific styles (rare occurences)
* ###################################################################*/
stage {
font-family: Droid Sans, FreeSans, ubuntu;
font-size: 0.9em;
color: #fff;
}
.cinnamon-link {
color: #bada55;
}
.cinnamon-link:hover {
text-decoration: underline;
}
StScrollBar {
padding: 0px;
}
StScrollView.vfade {
-st-vfade-offset: 68px;
}
StScrollView StScrollBar {
min-width: 10px;
min-height: 20px;
}
StScrollBar StBin#trough {
border-image: url("scrollbar-trough.svg") 4 4 4 8;
}
StScrollBar StButton#vhandle {
border-image: url("scrollbar.svg") 4;
}
StScrollBar StButton#hhandle {
border-image: url("scrollbar.svg") 4;
}
#Tooltip {
padding: 4px 8px 5px 8px;
border: inset 1px rgba(70,0,0,0.8);
background-gradient-direction: vertical;
background-gradient-start: rgba(111, 171, 23, 0.43);
background-gradient-end: rgba(0,10,10,0.7);
border-radius: 2px;
font-weight: bold;
font-size: 0.9em;
}
/* ===================================================================
* PopupMenu (popupMenu.js)
* ===================================================================*/
.popup-menu-boxpointer {
-boxpointer-gap: 4px;
-arrow-border-radius: 4px;
-arrow-border: inset solid 3px rgba(70,0,0,0.8);
-arrow-background-color: rgba(0,10,10,0.75);
-arrow-base: 22px;
-arrow-rise: 12px;
border-radius: 0px 12px 0px 12px;
background-gradient-direction: vertical;
background-gradient-start: rgba(0,10,10,0.85);
background-gradient-end: rgba(0,10,10,0.7);
box-shadow: 1px 1px 1px 1px rgba(15,0,0,0.0);
}
.popup-menu {
	border: inset 3px solid rgba(70,0,0,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,10,10,0.85);
	background-gradient-end: rgba(0,10,10,0.7);
	box-shadow: 1px 1px 1px 1px rgba(15,0,0,0.0);
	border: 1px solid rgba(70,0,0,0.8);
	border-radius: 0px 8px 0px 8px;
}
.panel-menu {
	border: inset 3px solid rgba(70,0,0,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,10,10,0.85);
	background-gradient-end: rgba(0,10,10,0.7);
	box-shadow: 1px 1px 1px 1px rgba(15,0,0,0.0);
	border-radius: 8px;
}
.menu {
background-gradient-direction: vertical;
background-gradient-start: rgba(0,10,10,0.85);
background-gradient-end: rgba(0,10,10,0.7);
border: inset 3px solid rgba(70,0,0,0.8);
border-radius: 4px
}
.popup-submenu-menu-item:open {
border-image: url("date-label.svg") 0 0 2 2 stretch;
}
.popup-sub-menu {
	border: inset 3px solid rgba(70,0,0,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,10,10,0.85);
	background-gradient-end: rgba(0,10,10,0.7);
}
.popup-sub-menu StScrollBar {
padding: 4px;
}
.popup-combo-menu {
background-color: rgba(0,0,0,0.85);
padding: 0px;
border-radius: 4px;
}
.popup-menu-content {
padding: 1em 0em;
}
.popup-menu-item {
padding: .5em 1.3em;
spacing: 1em;
transition-duration: 250;
}
.popup-menu-item:active {
border-image: url("date-label.svg") 0 0 2 2 stretch;
}
.popup-menu-item:insensitive {
font-weight: bold;
color: #444;
}
.popup-image-menu-item {
}
.popup-combobox-item {
spacing: 1em;
}
.popup-separator-menu-item {
background-color: rgba(0,0,0,0.5);
border: 1px solid rgba(255,255,255,0.05);
	-gradient-start: rgba(0,0,0,0.5);
	-gradient-end: rgba(0,0,0,0.5);
border-left: 0;
border-right: 0;
border-top: 0;
height: 1px;
}
.popup-slider-menu-item {
height: 10px;
min-width: 15em;
-slider-height: 0.3em;
-slider-background-color: rgba(0,0,0,0.0);
-slider-border-color: transparent;
-slider-active-background-color: rgba(0,0,0,0.0);
-slider-active-border-color: transparent;
-slider-border-width: 1px;
-slider-handle-radius: 0.4em;
border-image: url("slider.svg") 0 0 4 4 stretch;
color: #fff;
}
.popup-device-menu-item {
spacing: .5em;
}
.popup-inactive-menu-item {
font-weight: bold;
color: #444;
}
.popup-subtitle-menu-item {
font-weight: bold;
}
.popup-menu-icon {
icon-size: 1em;
}
/* Switches (to be used in menus) */
.toggle-switch {
width: 18px;
height: 18px;
}
.toggle-switch-us,
.toggle-switch-intl {
background-image: url("checkbox-off-focus.svg");
background-size: contain;
}
.toggle-switch-us:checked,
.toggle-switch-intl:checked {
background-image: url("checkbox-focus.svg");
background-size: contain;
}
.nm-menu-item-icons {
spacing: .5em;
}
/* ===================================================================
* Panel (panel.js)
* ===================================================================*/
#panel {
background-color: rgba(0,0,0,0.85);
font-weight: bold;
height: 26px;
box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.6);
font-size: 0.9em;
}
#panel:highlight {
    background-color: #aa5555;
}
.panelLeft, .panelCenter, .panelRight {
spacing: 0px;
}
.panelLeft:dnd {
background-gradient-start: #bada55;
background-gradient-end: #45883b;
background-gradient-direction: vertical;
}
.panelCenter:dnd {
background-gradient-start: transparent;
background-gradient-end: transparent;
background-gradient-direction: vertical;
}
.panelRight:dnd {
background-gradient-start: #51bbe9;
background-gradient-end: #22597e;
background-gradient-direction: vertical;
}
.panelLeft:ltr {
padding-right: 4px;
}
.panelLeft:rtl {
padding-left: 4px;
}
.panelRight:ltr {
padding-left: 4px;
}
.panelRight:rtl {
padding-right: 4px;
}
.panelLeft.vertical, .panelRight.vertical, .panelCenter.vertical {
padding-left: 0px;
padding-right: 0px;
}

.panel-button,
.panel-status-button {
-natural-hpadding: 5px;
-minimum-hpadding: 5px;
transition-duration: 250;
}
.panel-button:hover,
.panel-status-button:hover {
border-image: url("window-active.svg") 2 2 0 0;
transition-duration: 250;
}
.popup-menu-item-dot {
background-image: url("dot.svg");
background-size: contain;
color: transparent;
}
.system-status-icon {
icon-size: 1.3em;
icon-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.system-status-icon.warning {
color: #e5e887;
}
.system-status-icon.error {
color: #fb5858;
}
/* ===================================================================
* Overview
* ===================================================================*/
#overview {
spacing: 0px;
background: rgba(0,0,0,0.0);
}
.expo-background {
background: rgba(0,0,0,0.0);
}
.window-caption {
spacing: 25px;
padding: 4px 8px 5px 8px;
border-image: url("caption.svg") 4;
font-weight: bold;
-cinnamon-caption-spacing: 8px;
}
.workspace-thumbnails {
spacing: 7px;
}
.workspace-add-button {
background-image: url("workspace-add.svg");
height: 52px;
width: 37px;
transition-duration: 250;
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}
.workspace-add-button:hover {
background-image: url("workspace-add-hover.svg");
transition-duration: 250;
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.8);
}
.workspace-add-button:active {
background-image: url("workspace-add.svg");
transition-duration: 0;
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.0);
}
.workspace-close-button {
background-image: url("close-workspace.svg");
background-size: contain;
height: 29px;
width: 29px;
-cinnamon-close-overlap: 28px;
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.5);
transition-duration: 250;
}
.workspace-close-button:hover {
background-image: url("close-workspace-hover.svg");
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.8);
transition-duration: 250;
}
.workspace-close-button:active {
background-image: url("close-workspace.svg");
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.0);
transition-duration: 0;
}
.window-close {
background-image: url("close.svg");
background-size: 30px;
height: 30px;
width: 30px;
-cinnamon-close-overlap: 18px;
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.5);
transition-duration: 250;
}
.window-close:hover {
background-image: url("close-hover.svg");
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.65);
transition-duration: 250;
}
.window-close:active {
background-image: url("close.svg");
-st-background-image-shadow: 0px 2px 6px rgba(0,0,0,0.0);
transition-duration: 0;
}
.window-close-area {
border-radius: 2px 2px 0px 0px;
background-color: rgba(0,0,0,0.85);
background-image: url("trash.svg");
height: 150px;
width: 250px;
}
/* ===================================================================
* Looking Glass
* ===================================================================*/
#LookingGlassDialog {
background-color: rgba(0,0,0,0.85);
spacing: 4px;
padding: 8px;
border-radius: 0px 12px 0px 12px;
border: solid 1px rgba(70, 0, 0, 0.8);
}
#LookingGlassDialog > #Toolbar {
border: 1px solid rgba(0,0,0,0.5);
border-top: none;
border-left: none;
border-right: none;
padding: 4px;
}
#LookingGlassDialog .labels {
spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
-natural-hpadding: 12px;
-minimum-hpadding: 6px;
font-weight: bold;
transition-duration: 250;
padding-left: .3em;
padding-right: .3em;
}
#LookingGlassDialog .notebook-tab:hover,
#LookingGlassDialog .notebook-tab:selected {
color: #bada55;
}
#LookingGlassDialog .lg-inspector-title {
font-weight: bold;
padding-bottom: 8px;
}
.lg-dialog StEntry {
height: 18px;
selection-background-color: #4f6d2c;
selected-color: #fff;
caret-size: 1px;
padding: 4px 8px;
border-image: url("checkbox-off.svg") 4;
transition-duration: 250;
}
.lg-completions-text {
font-size: .9em;
font-style: italic;
}
.lg-obj-inspector-title {
spacing: 4px;
}
.lg-obj-inspector-button {
border: 1px solid rgba(0,0,0,0.5);
padding: 4px;
border-radius: 3px;
}
.lg-obj-inspector-button:hover {
border: 1px solid #bada55;
}
.lg-dialog .cinnamon-link {
color: #bada55;
}
.lg-dialog .cinnamon-link:hover {
text-decoration: underline;
}
#LookingGlassDialog StBoxLayout#EvalBox {
padding: 4px;
spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
spacing: 4px;
}
#lookingGlassExtensions {
padding: 4px;
}
.lg-extension-list {
padding: 4px;
spacing: 6px;
}
.lg-extension {
border: 1px solid rgba(0,0,0,0.5);
border-radius: 3px;
padding: 4px;
}
.lg-extension-name {
font-weight: bold;
}
.lg-extension-meta {
spacing: 6px;
}
#LookingGlassPropertyInspector {
background: rgba(0,0,0,0.85);
border: 2px solid black;
border-radius: 3px;
padding: 6px;
}
/* ===================================================================
* Date applet
* ===================================================================*/
.calendar {
box-shadow: 1px 1px 1px 1px rgba(15,0,0,0.0);
border-radius: 8px;
padding: 0em 1.75em;
spacing-rows: 0px;
spacing-columns: 0px;
}
.datemenu-date-label {
border-image: url("date-label.svg") 0 0 2 2 stretch;
font-weight: bold;
padding: .6em 0em .6em 0em;
text-align: center;
}
.calendar-month-label {
padding-bottom: 1em;
padding-top: 1em;
font-weight: bold;
font-size: 8pt;
}
.calendar-change-month-back,
.calendar-change-month-forward:rtl {
width: 5px;
height: 7px;
padding-left: 26px;
background-image: url("calendar-arrow-left.svg");
transition-duration: 250;
}
.calendar-change-month-back:hover,
.calendar-change-month-forward:hover:rtl {
background-image: url("calendar-arrow-left-hover.svg");
transition-duration: 250;
}
.calendar-change-month-forward,
.calendar-change-month-back:rtl {
width: 5px;
height: 7px;
padding-right: 26px;
background-image: url("calendar-arrow-right.svg");
}
.calendar-change-month-forward:hover,
.calendar-change-month-back:hover:rtl {
background-image: url("calendar-arrow-right-hover.svg");
transition-duration: 250;
}
.calendar-day-base {
font-size: 8pt;
text-align: center;
width: 2em;
height: 2em;
}
.calendar-day-heading {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(150, 27, 27, 0.7);
	background-gradient-end: rgba(0,10,10,0.7);
border-bottom: 1px solid rgba(70, 0, 0, 0.8);
font-size: 8pt;
padding-top: .5em;
font-weight: bold;
width: 2.15em;
}
.calendar-week-number {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(150, 27, 27, 0.6);
	background-gradient-end: rgba(0,10,10,0.7);
border-right: 1px solid rgba(70, 0, 0, 0.8);
font-size: 8pt;
padding-right: .5em;
padding-top: .8em;
font-weight: bold;
}
.calendar-day {
font-size: 8pt;
padding: .5em;
}
.calendar-nonwork-day {
}
.calendar-today {
border-image: url("calendar-today.svg") 5;
}
.calendar-other-month-day {
color: #444;
}
/* ===================================================================
* Notifications
* ===================================================================*/
#notification {
background-gradient-direction: vertical;
background-gradient-start: rgba(150, 27, 27, 0.7);
background-gradient-end: rgba(0,10,10,0.7);
padding: 10px;
spacing-rows: 10px;
spacing-columns: 10px;
width: 42em;
margin-from-right-edge-of-screen: 34px;
border-radius: 0px 12px 0px 12px;
}
#notification.multi-line-notification {
padding-bottom: 8px;
}
#notification-scrollview {
max-height: 10em;
-st-vfade-offset: 24px;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
padding-right: 6px;
}
#notification-body {
spacing: 5px;
}
#notification-actions {
spacing: 10px;
}
/* ===================================================================
* Alt Tab
* ===================================================================*/
#altTabPopup {
background: rgba(0,0,0,0.0);
padding: 8px;
spacing: 5px;
}
.switcher-list {
border: inset 1px rgba(231, 17, 17, 0.53);
border-radius: 10px;
background-color: rgba(0,0,0,0.75);
padding: 35px;
font-weight: bold;
}
.switcher-list-item-container {
spacing: 8px;
}
.switcher-list .item-box {
padding: 8px;
}
.switcher-list .item-box:outlined {
}
.switcher-list .item-box:selected {
border-image: url("checkbox-off-focus.svg") 3;
transition-duration: 250;
}
.switcher-list .thumbnail-box {
padding: 2px;
spacing: 4px;
}
.switcher-list .thumbnail {
width:  256px;
}
.ripple-box {
width: 104px;
height: 104px;
background-image: url("corner-ripple.svg");
}
.switcher-arrow {
color: #45883b;
}
.switcher-preview-backdrop {
background: rgba(0,0,0,0.4);
}
/* ===================================================================
* Modal dialogs
* ===================================================================*/
.modal-dialog {
border-radius: 4px;
background-color: rgba(0,0,0,0.85);
}
.modal-dialog > * {
padding: 15px;
border-radius: 0px;
}
.modal-dialog-button-box {
spacing: 15px;
padding: 15px;
}
.modal-dialog-button {
color: #3B5220;
height: 28px;
min-width: 90px;
padding: 0px 10px;
border-image: url("button.svg") 4;
font-weight: bold;
transition-duration: 250;
}
.modal-dialog-button:hover {
border-image: url("button-hover.svg") 3;
}
.modal-dialog-button:focus {
color: #fff;
border-image: url("button-focus.svg") 3;
}
.modal-dialog-button:active,
.modal-dialog-button:pressed {
border-image: url("button-active.svg") 3;
color: #3B5220;
transition-duration: 0;
}
.modal-dialog-button:disabled {
color: #4f6d2c;
}
/* ===================================================================
* Run dialog
* ===================================================================*/
.run-dialog > * {
padding: 0px;
}
.run-dialog-error-box {
padding: 10px 0px;
spacing: 5px;
}
.run-dialog-label {
font-size: 1px;
color: transparent;
}
.run-dialog-entry {
border-image: url("entry-run.svg") 8 0 0 0;
selection-background-color: #4f6d2c;
selected-color: #fff;
padding: 0px 6px 0px 16px;
width: 20em;
height: 26px;
caret-color: #eee;
font-family: monospace;
}
.run-dialog {
border-image: url("entry-run-modal.svg") 4 4 4 4;
padding: 10px 15px 10px 15px;
}
.lightbox {
background: rgba(0,0,0,0.0);
}
/* ===================================================================
* Magnifier
* ===================================================================*/
.magnifier-zoom-region {
border: 2px solid #bada55;
}
.magnifier-zoom-region.full-screen {
border-width: 0px;
}
/* ===================================================================
* On screen keyboard
* ===================================================================*/
#keyboard {
background-color: rgba(0,0,0,0.85);
}
.keyboard-layout {
spacing: 10px;
padding: 10px;
}
.keyboard-row {
spacing: 15px;
}
.keyboard-key {
color: #3B5220;
min-height: 30px;
min-width: 30px;
border-image: url("button.svg") 4;
font-size: 13pt;
font-weight: bold;
transition-duration: 250;
}
.keyboard-key:grayed {
color: #4f6d2c;
}
.keyboard-key:hover {
border-image: url("button-hover.svg") 3;
}
.keyboard-key:checked,
.keyboard-key:active,
.keyboard-key:pressed {
border-image: url("button-active.svg") 3;
transition-duration: 0;
}
.keyboard-subkeys {
-boxpointer-gap: 4px;
-arrow-border-radius: 4px;
-arrow-background-color: rgba(0,0,0,0.85);
-arrow-base: 22px;
-arrow-rise: 12px;
padding: 5px;
}
/* ###################################################################
* Cinnamon Specific Section
* ###################################################################*/
/* ===================================================================
* Menu (menu.js)
* ===================================================================*/
.menu-favorites-box {
padding: 0px;
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(255, 11, 11, 0.34);
	background-gradient-end: rgba(0,10,10,0.85);
	border-radius: 0px 8px 0px 8px;
}
.menu-favorites-button {
padding: 10px 20px 10px 20px;
transition-duration: 250;
}
.menu-favorites-button:hover {
border-image: url("fav.svg") 9;
transition-duration: 250;
border-radius: 0px 8px 0px 8px
}
.menu-background {
    border: inset 3px solid rgba(70,0,0,0.8);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,10,10,0.85);
    background-gradient-end: rgba(0,10,10,0.7);
    box-shadow: 1px 1px 1px 1px rgba(15,0,0,0.0);
    border-radius: 8px;
    border-radius-bottomright: 0px;
    border-radius-bottomleft: 0px;
}
.menu-places-box {
padding: 10px;
}
.menu-places-button {
padding: 10px;
}
.menu-categories-box {
padding-top: 15px;
padding-left: 15px;
padding-right: 5px;
padding-bottom: 0px;
}
.menu-applications-box {
padding-top: 15px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 0px;
}

/* What does this do */
.menu-applications-inner-box StScrollView, .starkmenu-favorites-box .menu-context-menu, .menu-context-menu {
  padding: 8px;
  margin: 8px 0;
  border-radius: 15px;
  border: 1px solid rgba(243, 255, 237, 0.22); }
  .menu-applications-inner-box StScrollView StIcon:ltr, .menu-context-menu StIcon:ltr {
    padding-right: 4px; }
  .menu-applications-inner-box StScrollView StIcon:rtl, .menu-context-menu StIcon:rtl {
    padding-left: 4px; }


.menu-application-button {
padding: 7px;
}
.menu-application-button:hover,
.menu-application-button-selected {
height: 36px;
padding: 0px 7px;
border-image: url("checkbox-off-focus.svg") 3;
}
.menu-application-button-label:ltr {
padding-left: 5px;
}
.menu-application-button-label:rtl {
padding-right: 5px;
}
.menu-category-button {
height: 36px;
padding: 0px 7px;
}
.menu-category-button-greyed {
height: 36px;
padding: 0px 7px;
color: #444;
}
.menu-category-button-selected {
height: 24px;
padding: 5px;
border-image: url("checkbox-off-focus.svg") 3;
background-gradient-direction: vertical;
background-gradient-start: rgba(255,0,0,0.0);
background-gradient-end:  rgba(172,205,138,0.7);
box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6);
text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
border-radius: 0px 16px 0px 16px;
}
.menu-category-button-label:ltr {
padding-left: 5px;
}
.menu-category-button-label:rtl {
padding-right: 5px;
}
/* Name and description of the currently hovered item in the menu
* This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
padding-right: 30px;
padding-left: 28px;
text-align: right;
}
.menu-selected-app-title {
font-weight: bold;
}
.menu-selected-app-description {
font-size: 8pt;
max-width: 150px;
}
.menu-search-box:ltr {
padding-left: 15px;
}
.menu-search-box:rtl {
padding-right: 15px;
}
#menu-search-entry {
border-image: url("entry-menu.svg") 4 32 4 4;
selection-background-color: #4f6d2c;
selected-color: #fff;
caret-size: 1px;
padding: 0px 0px 0px 8px;
width: 21em;
height: 26px;
}
.menu-search-entry-icon {
color: #4f6d2c;
padding: 1px 6px 0px 6px;
icon-size: 1em;
icon-shadow: 6px 2px 1px 0px rgba(255,255,255,0.2);
}

/* ===================================================================
* Window list (windowList.js)
* ===================================================================*/
.window-list-box {
}
.window-list-box.vertical {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.window-list-item-label {
font-weight: bold;
width: 15em;
min-width: 5px;
}
.window-list-item-box {
padding: 0px 4px 0px 4px;
transition-duration: 250;
}
	.window-list-item-box .progress {
		background-color: #bada55;
		border: 1px solid rgba(70,0,0,0.8);
		border-radius: 10px;
		color: #000000;
	}
.panel-left .window-list-item-box, .panel-right .window-list-item-box {
padding: 0px;
transition-duration: 250;
}
.window-list-item-box:hover,
.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus	{
border-image: url("window-active.svg") 2 2 0 0 stretch;
transition-duration: 250;
}
.window-list-item-demands-attention {
background-gradient-start: #bada55;
background-gradient-end: #45883b;
background-gradient-direction: vertical;
transition-duration: 250;
}

.window-list-preview {
	padding: 10px 15px 15px 15px;
	font-weight: bold;
	text-shadow: black 0px 0px 2px;
	border: 1px solid rgba(70,0,0,0.8); /* rgba(0,255,0,1);*/
	border-radius: 3px;
	/* border-image: url("checkbox-off-focus.svg") 3; if this is on the background goes transparent :-( */
	background-color: rgba(0,0,0,0.75);
	transition-duration: 150;
}

/* ===================================================================
 * Grouped window list (windowList.js)
 * ===================================================================*/
.grouped-window-list-thumbnail-label {
    padding-left: 4px;
}
.grouped-window-list-number-label {
    z-index: 99;
    text-shadow: black 1px 0px 2px;
    font-size: 10px;
    color:#fff;
    padding: 0;
}
.grouped-window-list-badge {
    border-radius: 256px;
    background-color: #000000;
}
.grouped-window-list-button-label {
    padding-left: 4px;
}
.grouped-window-list-thumbnail-alert {
    background: rgba(255,52,52,0.3);
}
.grouped-window-list-item-box {
    padding: 0px;
}
.grouped-window-list-item-box:active {
border-image: url("window-active.svg") 2 2 0 0 stretch;
transition-duration: 250;
}

.grouped-window-list-item-box:checked,
.grouped-window-list-item-box:focus {
border-image: url("window-active.svg") 2 2 0 0 stretch;
transition-duration: 250;
}

.grouped-window-list-item-box:hover {
/* border-image: url("window-active.svg") 2 2 0 0 stretch; */
border-image: url("checkbox-off-focus.svg") 1 1 1 1 stretch;
transition-duration: 0;
}
.grouped-window-list-item-box:active:hover,
.grouped-window-list-item-box:checked:hover,
.grouped-window-list-item-box:focus:hover {
/* border-image: url("window-active.svg") 2 2 0 0 stretch; */
border-image: url("checkbox-off-focus.svg") 1 1 1 1 stretch;
transition-duration: 0;
}
.grouped-window-list-item-demands-attention {
background-gradient-start: #bada55;
background-gradient-end: #45883b;
background-gradient-direction: vertical;
transition-duration: 250;
}

.grouped-window-list-item-demands-attention:hover {
    color: white;
    text-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.grouped-window-list-item-box .progress {
    /*background-color: rgba(255,255,0,1);*/
	background-color:  rgba(186, 218, 85,0.9);
    box-shadow: none;
    /* border: 1px solid rgba(255,255,0,1); */
	border: 1px solid rgba(70,0,0,0.85);
    font-weight: bold;
    color: #000;
    text-shadow: 1px 1px 1px #00ff00;
}

.grouped-window-list-thumbnail-menu {
}
.grouped-window-list-thumbnail-menu .item-box {
    padding: 6px;
}
.grouped-window-list-thumbnail-menu .item-box:outlined {
    padding: 6px;
    border: 1px solid rgba(70,0,0,0.8);
}
.grouped-window-list-thumbnail-menu .item-box:selected {
padding: 0px 7px;
border-image: url("checkbox-off-focus.svg") 3;
}

.grouped-window-list-thumbnail-menu .thumbnail {
    padding: 6px;
    width: 256px;
}
.grouped-window-list-thumbnail-menu .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}



/* ===================================================================
* Sound Applet (status/volume.js)
* ===================================================================*/
.sound-button-container {
padding-right: 2px;
padding-left: 2px;
}
.sound-button {
color: #3B5220;
border-image: url("button.svg") 4;
padding: 7px;
transition-duration: 250;
}
.sound-button:hover {
border-image: url("button-hover.svg") 3;
}
.sound-button:active {
border-image: url("button-active.svg") 4;
transition-duration: 0;
}
.sound-button StIcon {
icon-size: 1em;
icon-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
}
.sound-track-infos {
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
}
.sound-track-info {
padding-top: 2px;
padding-bottom: 2px;
}
.sound-track-info StIcon {
icon-size: 1em;
}
.sound-track-info StLabel {
padding-left: 5px;
padding-right: 5px;
}
.sound-track-box {
padding-left: 18px;
padding-right: 18px;
max-width: 220px;
}
.sound-seek-box {
padding-top: 6px;
padding-left: 1.3em;
}
.sound-seek-box StLabel {
   padding-top: 2px;
}
.sound-seek-box StIcon {
   icon-size: 1em;
}
.sound-seek-slider {
   width: 160px;
}
.sound-volume-menu-item {
padding: .4em 1.3em;
}
.sound-volume-menu-item StIcon {
icon-size: 1.14em;
padding-left: 6px;
}
.sound-playback-control {
border-image: url("date-label.svg") 0 0 2 2 stretch;
padding-top: 5px;
padding-bottom: 5px;
}
/* ===================================================================
* Workspace Switcher applet (workspaceSwitcher.js)
* ===================================================================*/
#workspaceSwitcher {
spacing: 0px;
padding: 0px;
}
.workspace-button {
width: 21px;
height: 26px;
transition-duration: 250;
}
.workspace-button:hover,
.workspace-button:outlined {
border-image: url("window-active.svg") 2 2 0 0 stretch;
transition-duration: 250;
}
/* ===================================================================
* Panel Launchers Applet (panelLaunchers.js)
* ===================================================================*/
#panel-launchers-box {
padding-left: 0px;
}
.panel-launcher {
margin: 0px;
padding: 2px;
}
/* ===================================================================
* Applets (applet.js)
* ===================================================================*/
.applet-separator {
background-image: url("sep.svg");
padding: 0px 0px 0px 1px;
}
.applet-separator-line {
}
.applet-box {
padding-left: 5px;
padding-right: 5px;
transition-duration: 250;
spacing: 3px;
}
.applet-box:hover {
border-image: url("window-active.svg") 2 2 0 0;
text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
transition-duration: 250;
}
.applet-box.vertical {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.applet-label {
padding: 0px;
text-align: center;
}
/* ===================================================================
 * Desklets (desklet.js)
 * ===================================================================*/
.desklet {
color: #fff;
}
.desklet-with-borders {
border: 0px;
background: rgba(0,0,0,0.85);
color: #fff;
border-radius-bottomleft: 3px;
border-radius-bottomright: 3px;
border-radius-topleft: 3px;
border-radius-topright: 3px;
padding: 6px;
}
.desklet-with-borders-and-header {
padding: 6px;
background: rgba(0,0,0,0.85);
color: #fff;
border-radius-bottomleft: 3px;
border-radius-bottomright: 3px;
}
.desklet-header {
border-image: url("desklet-header.svg") 3 3 3 3;
border-radius-topleft: 3px;
border-radius-topright: 3px;
font-size: 9pt;
font-weight: bold;
color: #fff;
padding: 6px;
}
.desklet-drag-placeholder {
border: 2px solid rgba(0,0,0,0.85);
background-color: none;
border-radius: 3px;
}
.clock-desklet-label {
}
.photoframe-box {
padding: 6px;
border: none;
background-color: rgba(0,0,0,0.85);
border-radius: 3px;
}
.xkcd-box {
padding: 0px;
border: none;
background-color: none;
border-radius: 0px;
}
/* ===================================================================
* Workspace OSD
* ===================================================================*/
.workspace-osd {
border-radius: 0px 12px 0px 12px;
border: inset 2px solid  rgba(182, 5, 5, 0.8);
/* This is some alternative borders:  rgba(231, 17, 17, 0.53)  rgba(245, 151, 151, 0.7) */
background-color: rgba(0,0,0,0.75);
font-weight: bold;
padding: 1em 2em;
font-size: 4em;
}
.expo-workspaces-name-entry {
height: 18px;
selection-background-color: #4f6d2c;
selected-color: rgba(223, 247, 140, 0.85);
caret-size: 1px;
padding: 4px 8px 5px 8px;
border-image: url("caption.svg") 4;
font-weight: bold;
transition-duration: 250;
}
.expo-workspaces-name-entry:hover,
.expo-workspaces-name-entry:focus {
border-image: url("caption-focus.svg") 4;
}
/* ===================================================================
* Notification Applet
* ===================================================================*/
.notification-applet-padding {
padding: .4em 1.25em;
spacing: 0px;
}
.notification-applet-container {
max-height: 100px;
}
.popup-menu #notification {
border-image: url("checkbox-off-focus.svg") 3;
border-radius: 0px;
background-color: rgba(0,0,0,0.0);
}
/* Check Boxes */
.check-box CinnamonGenericContainer {
spacing: .3em;
height: 20px;
}
.check-box StBin {
width: 18px;
height: 18px;
background-image: url("checkbox-off.svg");
}
.check-box:focus StBin {
background-image: url("checkbox-off-focus.svg");
}
.check-box:checked StBin {
width: 18px;
height: 18px;
background-image: url("checkbox.svg");
}
.check-box:focus:checked StBin {
background-image: url("checkbox-focus.svg");
}
.check-box StLabel {
font-size: 9pt;
}
.radiobutton CinnamonGenericContainer {
spacing: .3em;
height: 20px;
}
.radiobutton StBin,
.radiobutton:focus StBin {
width: 18px;
height: 18px;
background-image: url("radiobutton-off.svg");
}
.radiobutton:checked StBin {
background-image: url("radiobutton.svg");
}
.radiobutton:focus:checked StBin {
background-image: url("radiobutton-focus.svg");
}
.radiobutton StLabel {
font-size: 9pt;
}
.flashspot {
background-color: white;
}
/* Media keys OSD popup */
.osd-window {
    background: rgba(0,10,0,10.75);
    border: 2px solid rgba(70,0,0,0.8);
    border-radius: 0px 12px 0px 12px;
    padding: 20px;
    color: white;
    spacing: 1em;
 /* border-image: url("checkbox-off-focus.svg") 3; preferable if it works */
}

.osd-window .level {
    height: 0.7em;
    border-radius: 0.3em;
    background-color: rgba(190,190,190,0.2);
}
/* Info OSD popup */
.info-osd {
    background: rgba(0,0,0,0.9);
    border: 2px solid green;
    border-radius: 0px;
    color: white;
    font-size: 16pt;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
 /* border-image: url("checkbox-off-focus.svg") 3; preferable if it works */
}


/* ===================================================================
 * Grouped window list (windowList.js)
 * ===================================================================*/
.grouped-window-list-thumbnail-label {
    padding-left: 4px;
}
.grouped-window-list-number-label {
    z-index: 99;
    text-shadow: black 1px 0px 2px;
    font-size: 10px;
    color:#fff;
    padding: 0;
}
.grouped-window-list-badge {
    border-radius: 256px;
    background-color: #000000;
}
.grouped-window-list-button-label {
    padding-left: 4px;
}
.grouped-window-list-thumbnail-alert {
    background: rgba(255,52,52,0.3);
}
.grouped-window-list-item-box {
    padding: 0px;
}
.grouped-window-list-item-box:active {
border-image: url("window-active.svg") 2 2 0 0 stretch;
transition-duration: 250;
}

.grouped-window-list-item-box:checked,
.grouped-window-list-item-box:focus {
border-image: url("window-active.svg") 2 2 0 0 stretch;
transition-duration: 250;
}

.grouped-window-list-item-box:hover {
/* border-image: url("window-active.svg") 2 2 0 0 stretch; */
border-image: url("checkbox-off-focus.svg") 1 1 1 1 stretch;
transition-duration: 0;
}
.grouped-window-list-item-box:active:hover,
.grouped-window-list-item-box:checked:hover,
.grouped-window-list-item-box:focus:hover {
/* border-image: url("window-active.svg") 2 2 0 0 stretch; */
border-image: url("checkbox-off-focus.svg") 1 1 1 1 stretch;
transition-duration: 0;
}
.grouped-window-list-item-demands-attention {
background-gradient-start: #bada55;
background-gradient-end: #45883b;
background-gradient-direction: vertical;
transition-duration: 250;
}

.grouped-window-list-item-demands-attention:hover {
    color: white;
    text-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.grouped-window-list-item-box .progress {
    background-color: rgba(255,255,0,1);
    box-shadow: none;
    border: 1px solid rgba(255,255,0,1);
    font-weight: bold;
    color: #000;
    text-shadow: 1px 1px 1px #00ff00;
}

.grouped-window-list-thumbnail-menu {
}
.grouped-window-list-thumbnail-menu .item-box {
    padding: 6px;
}
.grouped-window-list-thumbnail-menu .item-box:outlined {
    padding: 6px;
    border: 1px solid rgba(102,102,102,1);
}
.grouped-window-list-thumbnail-menu .item-box:selected {
padding: 0px 7px;
border-image: url("checkbox-off-focus.svg") 3;
}

.grouped-window-list-thumbnail-menu .thumbnail {
    padding: 6px;
    width: 256px;
}
.grouped-window-list-thumbnail-menu .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}
